//Variables

$breakpoints: (laptop: 1200px,
tablet: 900px,
mobile: 600px);

$color-theme: (primary: #4D88C2,
secondary: #3F3C75,
tertiary: #060D20,
highlight: #F33045);

@function balance-color($color) {
  @if lightness($color)>=50 {
    @return #000;
  }

  @else {
    @return #fff;
  }
}

@mixin set-colors($bg-color) {
  background-color: $bg-color;
  color: balance-color($bg-color);
}

* {
  max-width: 100vw;
  box-sizing: border-box;
}



//Sterilize 
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

//Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Jura, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  margin: 3% 0;
}

p {
  font-family: Lato, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  font-family: "Share Tech Mono", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
  font-size: calc(50vw * .25);
}

h2 {
  font-size: 7rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 2rem;
}

.center {
  text-align: center;
}

//Grid
.grid-container {
  display: grid;
  grid-template-columns: 1fr [content-start] minmax(0, map-get($breakpoints, laptop)) [content-end] 1fr;

}

.grid {
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(map-get($breakpoints, tablet)/2, auto));

}

.cell {
  padding: 1rem;
}

.fill-row {
  grid-column: 1/-1;
}

.nopad {
  padding: 0;
}

//layout
section {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  // border: 1px solid red;
}

iframe {
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
  // margin: 0 auto;
  width: 100%;
  max-width: 100vw;
}

article {}

#site-title {
  // background: linear-gradient(map-get($color-theme, tertiary), map-get($color-theme, primary));
  background: map-get($color-theme, primary);
  // height: 200px;
  z-index: 5000;

  h1 {
    // max-width: map-get($breakpoints, laptop);
    text-align: center;
    color: #fff;
    // font-weight: 100;
    font-family: "Share Tech Mono";
  }
}

#top-nav {
  position: sticky;
  top: 0;
  background-color: map-get($color-theme, primary);
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);

  nav {
    display: flex;
    width: map-get($breakpoints, laptop);
    justify-content: space-between;

    a {
      font-size: 1.5rem;
      text-align: center;
      width: 100%;
      padding: 1em 0;
      text-decoration: none;
      color: map-get($color-theme, tertiary);
      transition: all .15s ease-out;

      &:hover {
        background-color: lighten(map-get($color-theme, primary), 20%);
      }
    }
  }
}

#hero {
  height: calc(100vh - 75px);
  background-color: map-get($color-theme, primary);
  background-image: url("../img/test2.jpg");
  background-size: cover;
  background-position: center;

  article {
    box-sizing: border-box;
    @include set-colors(rgba(0, 0, 0, 0.75));
    max-width: map-get($breakpoints, laptop) + 300px;
    text-align: center;
    text-shadow: 0 1px 4px #000;

    p {
      font-size: 1.2rem;
    }
  }
}


#details {


  h3 {
    font-size: 3rem;
  }

  #info {
    background-color: #999;
  }

  #experience {
    background-color: #aaa;
  }
}

#my-works {
  @include set-colors(#eee);

  div {
    grid-gap: 10px;
    padding-bottom: 20px;
  }
}


footer {

  border-bottom: 30px solid map-get($color-theme, tertiary);
  @include set-colors(map-get($color-theme, secondary));
}

#contact {

  h5 {
    text-align: center;
    margin: 1rem 0;
  }

  nav#social-icons {
    display: flex;
    flex-direction: column;

    a {
      box-sizing: border-box;
      color: #fff;
      text-decoration: none;
      font-size: 2rem;
      padding: 8px 16px;
      transition: all .15s ease-out;

      &:hover {
        color: map-get($color-theme, highlight);
      }

      span {
        font-family: inherit;
      }
    }

    .codepen {
      background-color: #000;
    }

    .twitter {
      background-color: #38A1F3;


    }

    .github {
      background-color: #000;
    }
  }
}

#footer-gap {
  background-color: map-get($color-theme, tertiary);
  height: 30px;

  span {
    color: #fff;
  }
}

#footer-background {
  background-attachment: fixed;
  background-image: url("../img/footer.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

#sub-footer {
  background-color: map-get($color-theme, tertiary);
  color: #fff;
  position: sticky;
  bottom: 0;
  height: 75px;

  h6 {
    margin: 20px 0;
  }
}