* {
  max-width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Jura, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  margin: 3% 0;
}

p {
  font-family: Lato, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  font-family: "Share Tech Mono", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  font-size: calc(50vw * .25);
}

h2 {
  font-size: 7rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 2rem;
}

.center {
  text-align: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr [content-start] minmax(0, 1200px) [content-end] 1fr;
      grid-template-columns: 1fr [content-start] minmax(0, 1200px) [content-end] 1fr;
}

.grid {
  grid-column: content-start / content-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(450px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(450px, auto));
}

.cell {
  padding: 1rem;
}

.fill-row {
  grid-column: 1/-1;
}

.nopad {
  padding: 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

iframe {
  height: 400px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
  width: 100%;
  max-width: 100vw;
}

#site-title {
  background: #4D88C2;
  z-index: 5000;
}

#site-title h1 {
  text-align: center;
  color: #fff;
  font-family: "Share Tech Mono";
}

#top-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #4D88C2;
  -webkit-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
}

#top-nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#top-nav nav a {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  padding: 1em 0;
  text-decoration: none;
  color: #060D20;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

#top-nav nav a:hover {
  background-color: #99bbdc;
}

#hero {
  height: calc(100vh - 75px);
  background-color: #4D88C2;
  background-image: url("../img/test2.jpg");
  background-size: cover;
  background-position: center;
}

#hero article {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  max-width: 1500px;
  text-align: center;
  text-shadow: 0 1px 4px #000;
}

#hero article p {
  font-size: 1.2rem;
}

#details h3 {
  font-size: 3rem;
}

#details #info {
  background-color: #999;
}

#details #experience {
  background-color: #aaa;
}

#my-works {
  background-color: #eee;
  color: #000;
}

#my-works div {
  grid-gap: 10px;
  padding-bottom: 20px;
}

footer {
  border-bottom: 30px solid #060D20;
  background-color: #3F3C75;
  color: #fff;
}

#contact h5 {
  text-align: center;
  margin: 1rem 0;
}

#contact nav#social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact nav#social-icons a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  padding: 8px 16px;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

#contact nav#social-icons a:hover {
  color: #F33045;
}

#contact nav#social-icons a span {
  font-family: inherit;
}

#contact nav#social-icons .codepen {
  background-color: #000;
}

#contact nav#social-icons .twitter {
  background-color: #38A1F3;
}

#contact nav#social-icons .github {
  background-color: #000;
}

#footer-gap {
  background-color: #060D20;
  height: 30px;
}

#footer-gap span {
  color: #fff;
}

#footer-background {
  background-attachment: fixed;
  background-image: url("../img/footer.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

#sub-footer {
  background-color: #060D20;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  height: 75px;
}

#sub-footer h6 {
  margin: 20px 0;
}
/*# sourceMappingURL=styles.css.map */